:root{
	--background-color:#211D1B;
	--blinker-color:#73ABAD;
	--command-arg-color:orange;
	--command-color:#519975;
	--feedback-lost-color:#9C8394;
	--feedback-lost-selection-background:var(--feedback-lost-color);
	--scrollbar-thumb-color:#555;
	--scrollbar-thumb-shadow:inset 0 0 6px rgba(0,0,0,.3);
	--scrollbar-track-shadow:inset 0 0 6px rgba(0,0,0,.3);
	--scrollbar-width:.5rem;
	--selection-background:var(--text-color);
	--selection-color:var(--background-color);
	--table-border-color:var(--feedback-lost-color);
	--text-color:#B89076;
}
::-webkit-scrollbar{
	width:var(--scrollbar-width);
}
::-webkit-scrollbar-track{
	box-shadow:var(--scrollbar-track-shadow);
}
::-webkit-scrollbar-thumb{
	box-shadow:var(--scrollbar-thumb-shadow);
	background-color:var(--scrollbar-thumb-color);
}
@font-face{
	font-family:"ubuntu-mono";
	src:url("fonts/UbuntuMono-Regular.ttf");
}
@keyframes blinker{
	50%{
		opacity:0;
	}
}
@keyframes show{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@keyframes typing{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
}
*{
	cursor:default;
}
body{
	background-color:var(--background-color);
	color:var(--text-color);
	font-family:ubuntu-mono;
	letter-spacing:.02em;
	line-height:1.15em;
	margin:1.2em 1.2em 4rem;
	overflow-x:hidden;
	user-select:none;
	.command-arguments{
		color:var(--command-arg-color);
		.subtle-element{
			opacity:calc(2/3);
		}
	}
	.subtle-element{
		opacity:.5;
	}
	#terminal{
		user-select:text;
		::selection{
			background-color:var(--selection-background);
			color:var(--selection-color);
		}
		*{
			cursor:text;
		}
		p,
		table{
			animation:typing .5s steps(30,end);
			display:block;
			margin:0 1.2em;
			overflow:hidden;
			white-space:nowrap;
		}
		p:has(.feedback-landing){
			color:var(--text-color);
			margin:0;
		}
		p:has(.feedback-lost){
			color:var(--feedback-lost-color);
			margin:0;
		}
		table{
			border-spacing:0;
			margin:1.2em;
			tbody{
				tr{
					td{
						border:.1px dashed var(--table-border-color);
						padding:.2rem 1rem;
					}
					td:first-child{
						padding:.2rem 1rem .2rem .5rem;
					}
				}
			}
			tbody:nth-child(even),
			tbody:has(~ tbody:hover),
			tbody:hover ~ tbody{
				tr{
					opacity:calc(2/3);
				}
			}
			tbody:hover{
				tr{
					opacity:1 !important;
				}
			}
		}
		.feedback-lost::selection{
			background-color:var(--feedback-lost-selection-background);
			color:var(--selection-color);
		}
		.line-tabbed{
			cursor:default;
			margin-left:2.4em;
			transition:.1s;
			user-select:none;
			span{
				color:#73ABAD;
				cursor:pointer;
			}
		}
		.line-tabbed:has(~ .line-tabbed span:hover),
		.line-tabbed:has(span:hover) ~ .line-tabbed{
			opacity:calc(2/3);
		}
		.line-tabbed span:hover{
			text-shadow:0 0 .4em #73ABAD;
		}
		.command{
			color:var(--command-color);
			cursor:default;
			margin:0;
			user-select:none;
			*{
				cursor:default;
			}
		}
	}
	#command{
		animation:show .5s ease forwards;
		color:var(--command-color);
		display:flex;
		opacity:0;
		#input{
			opacity:0;
			position:absolute;
		}
		#input-reflection{
			white-space:pre;
		}
		#input-suggestion{
			left:100%;
			opacity:.5;
			position:absolute;
			white-space:nowrap;
		}
		#blinker{
			animation:blinker 1s linear infinite;
			color:var(--blinker-color);
			display:inline-block;
			overflow:hidden;
		}
	}
}