::selection{
	color:#211830;
	background-color:#519975;
}
::-webkit-scrollbar{
	width:.5rem;
}
::-webkit-scrollbar-track{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	background-color:#555;
}
body{
	background-color:#211D1B;
	color:#519975;
	overflow-x:hidden;
	margin:1rem 1rem 4rem;
}
div{
	display:block;
	unicode-bidi:isolate;
}
p{
	animation:typing .5s steps(30,end);
	display:block;
	letter-spacing:.05em;
	line-height:1.3em;
	margin:0;
	overflow:hidden;
	white-space:nowrap;
}
@keyframes blinker{
	50%{
		opacity:0;
	}
}
@keyframes show{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
@keyframes typing{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
}
.command{
	color:#73ABAD;
	text-shadow:0 0 5px #73ABAD;
}
.subtle-element{
	opacity:.5;
}
.feedback{
	color:#B89076;
	margin:1em;
}
.feedback-landing{
	color:#B89076;
}
.feedback:has(.feedback-lost){
	margin:0 !important;
}
.feedback-lost{
	color:#9C8394;
}
#command{
	animation:show 0.5s ease forwards;
	display:flex;
	gap:.4rem;
	line-height:1.3rem;
	opacity:0;
}
#blinker{
	animation:blinker 1s linear infinite;
	background-color:#73ABAD;
	color:#73ABAD;
	display:inline-block;
	font-size:.75rem;
	height:1.5em;
	overflow:hidden;
	transform:translate(-.3rem,.1rem);
}
#input{
	opacity:0;
	position:absolute;
}
#input-suggestion{
	left:0;
	opacity:.5;
	overflow:visible;
	position:absolute;
	top:1rem;
	white-space:nowrap;
}
#terminal{
	cursor:text;
}